<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TheMyriad</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.0.0-web/css/all.css">
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.0.0-web/css/v4-shims.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:ital,wght@0,200;0,600;0,900;1,200&family=Space+Grotesk:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="bg-image">
<nav class="navbar sticky-top navbar-light bg-dark">
    <div class="row pl-3">
        <img class="img-fluid navbar-brand blur-edge m-0" src="assets/imgonline-com-ua-twotoone-6fyxc0TJ5B7DZ.png" alt="">
    </div>
</nav>
<main role="main" class="pb-3">
    @RenderBody()
</main>
<footer class="border-top footer text-muted bg-dark pl-3">
    <div class="text-white-50">
        <i class="far fa-copyright"></i> 2022 - <img class="logo-img-m" src="assets/white_TXT_transparent_background (1).png" alt="The Myriad logo">
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)
</body>
</html>