@model object

@{
    ViewBag.Title = "Our Ethos";
    Layout = "_Layout";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur at atque ducimus eaque enim est eveniet expedita hic iusto mollitia, natus nesciunt nulla officiis perspiciatis quaerat quasi repellendus reprehenderit rerum suscipit! Accusantium adipisci autem corporis dolores eligendi eum iure labore odit officiis perspiciatis porro quaerat qui quibusdam, quis sed, tenetur, voluptas. Debitis deserunt dolores exercitationem, labore molestiae nemo nesciunt possimus quam. Ab adipisci aliquam aperiam architecto, beatae consequuntur deserunt distinctio dolor dolore dolorem doloribus ducimus ea earum eligendi fugit in ipsam, iste iusto necessitatibus neque nisi, nulla numquam possimus quas quia quidem ratione sequi sunt suscipit tempore vero vitae voluptas voluptates! Eius eum in labore, quae qui tempore voluptate.</p>
</div>