@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in justo dictum, tristique mi ac, egestas nisi. Donec lectus leo, elementum at sagittis cursus, rutrum a velit. Vivamus eget nisi nibh. Sed a augue ut eros consectetur laoreet sed sit amet felis. Donec eleifend nisl sed aliquet scelerisque. Phasellus fermentum eros mi, a malesuada quam maximus sed. Quisque dapibus felis id feugiat faucibus. Proin accumsan mauris ac felis condimentum, eu accumsan nisi fringilla. Quisque non lacinia dolor, ac maximus metus. Ut magna quam, vestibulum eu mattis id, fermentum egestas ante. Etiam auctor justo dignissim mattis fringilla. Maecenas porttitor ipsum id arcu iaculis, sit amet pretium ligula imperdiet.
    </p>
</div>