@{
    ViewData["Title"] = "Home Page";
}
<div class="dynamic-height">
    <h2 class="p-5 text-coral text-center">Demokratyzujemy trading.</h2>
    <div class="text-center text-white-50">
        <div class="d-flex align-items-center justify-content-around mb-3">
            <div class="d-flex justify-content-around">
                <button class="btn btn-primary px-3 ml-3">
                    <script src="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
                    <script type="text/javascript"> const JFL_220356374676058 = new JotformFeedback({ formId: '220356374676058', base: 'https://form.jotform.com/', windowTitle: '', background: '#464646', fontColor: '#F05742', type: 'false', height: 600, width: 700, openOnLoad: false }); </script>
                    <a class="lightbox-220356374676058">Aplikuj na bootcamp</a>
                </button>
                <button class="btn btn-secondary px-3 ml-3">
                    <script src="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
                    <script type="text/javascript"> const JFL_220506838269361 = new JotformFeedback({ formId: '220506838269361', base: 'https://form.jotform.com/', windowTitle: '', background: '#464646', fontColor: '#F05742', type: 'false', height: 600, width: 700, openOnLoad: false }); </script>
                    <a class="btn lightbox-220506838269361">Kontrybuuj</a>
                </button>
            </div>
        </div>

        <p class="front-text">
            Celem The Myriad DAO jest stać się pierwszą na świecie gildią tradingową zorganizowaną w formie DAO (decentralized autonomous organization) oraz skupiającą traderów manualnych.
            Organizacją z własną kulturą, strukturą i stylem. Zrzeszającą ludzi wyznających podobne wartości i pasję do wspólnego rozwoju czegoś, co pozytywnie zmienia świat. Wyedukowanych w taki sposób by byli gotowi onboardowac jej kolejnych członków, dzielić się z nimi swoją wiedzą i doświadczeniem. Wszystko to w modelu, który skaluje się poziomo, w odróżnieniu od większości współczesnych organizacji, które tradycyjnie skalowane są pionowo.
        </p>
    </div>
</div>
<div class="text-center">
    <div class="space-keeper" style="background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8) ), url(assets/grafika-bckgr-indx-2.png); background-size: cover">
        <h3 class="pt-5">Czym jest DAO (decentralized autonomous organization)/ DAC (decentralized autonomous company)?</h3>
        <div class="p-3">
            <p>Mówiąc najprościej: DAO to nowa forma organizacji, która oferuje decentralizację (brak centralnego węzła decyzyjnego i wykonawczego), przejrzystość i autonomiczne zarządzanie. Oznacza to, że zarządzanie organizacją jest prowadzone przez jej członków, a nie przez małą, wybraną grupę. Jest to model, który premiuje merytokrację i sprawiedliwość ponad wynikami mierzonymi stażem pracy albo pozycją.</p>
        </div>
    </div>
    <div class="space-keeper" style="background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url(assets/grafika-bckgr-indx-3.png); background-size: cover">
        <h3 class="pt-5">Dlaczego wybraliśmy taką formę organizacji?</h3>
        <div class="pb-3">
            <div class="p-3">
                <p>
                    Nie chcemy, żeby takie określenia jak: równość, merytokracja i własność pozostały jedynie pustymi frazesami tak jak ma to miejsce w większości organizacji. Niech za słowami pójdą czyny!
                    Uważamy, że dla działalności okołokrypto walutowej format DAO/ DAC daje najwiekszą elastyczność działania. Jest to najbardziej natywny sposób zarządzania dla tego typu projektów.
                </p>
                <p>Jeśli chcesz zgłębić temat DAO:</p>
                <p>Posłuchaj dlaczego ShapeShift, po wydaniu milionów dolarów na analizy prawne ostatecznie zdecydowało przetransformować się z ponad 200 osobowej spółki w DAO:</p>
                <a href="https://www.youtube.com/watch?v=X0DxD_3R_HI" target="_blank">
                    <h1 class="text-white">
                        <i class="fa-brands fa-youtube"></i>
                    </h1> Introducing ShapeShift DAO
                </a>
            </div>
            <div class="p-5">
                <p>Przeczytaj, jak powstał krypto walutowy fundusz hedgingowy w oparciu o serwer discord. W warstwie administracyjnej zastosowano framework Aragon DAO do przechowywania funduszy, zarządzania głosami i zapewnienia przejrzystości dla społeczności:</p>
                <a href="https://blog.aragon.org/how-to-start-a-hedge-fund-from-your-bedroom/" target="_blank">
                    <h1>
                        <img src="assets/aragon-icon-logo-pack/aragon-icon-logo-black-and-white.png" alt="aragon" style="height: 3rem;">
                    </h1>
                    How to Start a Hedge Fund (from your bedroom)
                </a>
            </div>
            <div class="images-dimmed">
                <img src="assets/dao-total-value.png" alt="" style="max-width: 350px">
                <img src="assets/DAO-landscape.png" alt="" style="max-width: 350px">
                <img src="assets/dao-total-assets.png" alt="" style="max-width: 350px">
            </div>
        </div>
    </div>
</div>
<div class="text-white-50">
    <h3 class="pt-5 text-coral text-center">Każde DAO potrzebuje swojej zżytej społeczności:</h3>
    <div class="m-3 text-left bottom-brd-coral">
        <input type="checkbox" id="expand1"/>
        <div class="smalldesc text-white-50">
            <p class="font16">
                Co odróżnia The Myriad od tradycyjnego prop house'u?
            </p>
            <p>
                W tradycyjnych firmach prop tradingowych wynagrodzenie tradera pochodzi z podziału zysków pomiędzy nim a firmą (payout split).
            </p>
            <p>
                W The Myriad trader wciąż otrzymuje swoją część zysku, natomiast część przypadająca organizacji, pozostaje w jej skarbcu. Wartość tegoż skarbca znajduje swoje odzwierciedlenie w tokenie governance, który będzie rozdystrybuowany pomiędzy członków DAO.
            </p>
            <p>
                Istnieją zatem dwie kluczowe różnice polegające na innym podejściu do własności oraz organizacji:
            </p>
            <ul>
                <li>własność DAO jest dystrybuowana wśród traderów, użytkowników i interesariuszy organizacji, w przeciwieństwie do bycia skoncentrowaną w rękach inwestorów i założycieli. W istocie DAO jest własnością tych, którzy wnoszą wartość do ekosystemu.</li>
                <br>
                <li>na poziomie organizacyjnym, DAO działa swobodnie i nie jest obciążone żadnymi odgórnymi strukturami zarządzania. Na poziomie indywidualnym, członkowie DAO są w stanie wnieść swój wkład lub uczestniczyć w sposób i w ilości, którą sami wybiorą. Oznacza to, że każdy sam decyduje, gdzie, jak i kiedy chce wnieść swój wkład oraz w sposób, jaki uzna za stosowny- i jest za to odpowiednio wynagradzany.</li>
            </ul>
            <br>
            <p>DAO rozwiązuje dylemat znany w ekonomii i sformułowany pod postacią koncepcji teoretycznej ładu korporacyjnego tzw. "principal–agent". Problem ten występuje w związkach typu agent-przełożony, takich jak: pracodawca-pracownik, prawnik-klient, nabywca-dostawca. Jest to konflikt priorytetów między osobą lub grupą, a przedstawicielem upoważnionym do działania w ich imieniu. Wszakże agent może działać w sposób, który jest sprzeczny z najlepiej pojętym interesem mocodawcy i vice versa.</p>
            <p>
                <a href="https://en.wikipedia.org/wiki/Principal%E2%80%93agent_problem" target="_blank"><i class="fa-brands fa-wikipedia-w text-white"></i> Principal-agent problem </a>
            </p>
            <p class="text-center images-dimmed">
                <img src="assets/conflicts-of-interests.png" alt="conflicts of interests" style="height: 200px;">
            </p>
        </div>
        <label for="expand1">
            Odpowiedź <i class="fa-solid fa-up-down"></i>
        </label>
    </div>
    <div class="m-3 text-left bottom-brd-coral">
        <input type="checkbox" id="expand2"/>
        <div class="smalldesc">
            <p class="font16">
                Dlaczego warto dołączyć?
            </p>
            <p>Jako trader dostaniesz nieocenione wsparcie w postaci:</p>
            <ul>
                <li>mentoringu</li>
                <li>kapitału do handlu oraz realistycznego celu, po którego osiągnięciu finansowanie będzie systematycznie powiększane</li>
                <li>poczucia przynależności do społeczności</li>
                <li>infrastruktury, która pomoże Ci w tradingu</li>
                <li>usługi Live Squawk oraz wielu innych narzędzi warsztatowych</li>
                <li>strategii, które działają</li>
            </ul>
        </div>
        <label for="expand2">
            Odpowiedź <i class="fa-solid fa-up-down"></i>
        </label>
    </div>
    <div class="m-3 text-left bottom-brd-coral">
        <input type="checkbox" id="expand3"/>
        <div class="smalldesc">
            <p class="font16">
                Jak wygląda proces rekrutacyjny?
            </p>
            <p>
                Pierwszym krokiem jest wypełnienie kwestionariusza, który pozwoli nam się bliżej poznać. Kolejnym etapem jest konkurs tradingowy, do którego zostaną zaproszeni wybrani kandydaci/ kandydatki.
            </p>
        </div>
        <label for="expand3">
            Odpowiedź <i class="fa-solid fa-up-down"></i>
        </label>
    </div>
    <div class="m-3 text-left bottom-brd-coral">
        <input type="checkbox" id="expand4"/>
        <div class="smalldesc">
            <p class="font16">
                Na jakich rynkach będę mógł tradować?
            </p>
            <p>
                Handlujemy wyłącznie na rynku kryptowalut.
            </p>
        </div>
        <div>
            <label for="expand4">
                Odpowiedź <i class="fa-solid fa-up-down"></i>
            </label>
        </div>
    </div>
    <div class="m-3 text-left bottom-brd-coral">
        <input type="checkbox" id="expand5"/>
        <div class="smalldesc">
            <p class="font16">
                Czy płacę za udział w konkursie?
            </p>
            <p >
                Nic nie płacisz za uczestnictwo w rekrutacji. Konto konkursowe do zawierania transakcji będzie zasilone niedużym kapitałem przez The Myriad DAO.
            </p>
        </div>
        <label for="expand5">
            Odpowiedź <i class="fa-solid fa-up-down"></i>
        </label>
    </div>
    <div class="m-3 text-left bottom-brd-coral">
        <input type="checkbox" id="expand6"/>
        <div class="smalldesc">
            <p class="font16 ">
                Czym jest bootcamp?
            </p>
            <p>
                Słowo bootcamp zostało zapożyczone z wojska i oznacza intensywne szkolenie rekrutów po przyjęciu ich w szeregi armii. Posługując się językiem metafory, podczas takiego szkolenia, dekonstruuje się "osobowość cywilną" rekruta, aby stworzyć z niego żołnierza. Wszystkich wg. tego samego, sprawdzonego wzoru. Użycie tego słowa nie wzięło się z przypadku. Szkolenie, które Cię czeka metodologią i intensywnością będzie przypominać wojskowy bootcamp.
            </p>
        </div>
        <label for="expand6">
            Odpowiedź <i class="fa-solid fa-up-down"></i>
        </label>
    </div>
    <div class="m-3 text-left bottom-brd-coral">
        <input type="checkbox" id="expand7"/>
        <div class="smalldesc">
            <p class="font16 ">
                Czy wymagane jest wykształcenie z dziedziny finansów lub ekonomii?
            </p>
            <p>
                Absolutnie nie! Doświadczenie pokazuje, że zdolnym traderem może zostać każdy, również osoby o zróżnicowanych doświadczeniach i poziomie wyksztalcenia. Każdą kandydaturę rozważamy indywidualnie, niezależnie od pochodzenia albo płci. Dziewczyny do dzieła!
            </p>
        </div>
        <label for="expand7">
            Odpowiedź <i class="fa-solid fa-up-down"></i>
        </label>
    </div>
    <div class="m-3 text-left bottom-brd-coral">
        <input type="checkbox" id="expand8"/>
        <div class="smalldesc">
            <p class="font16 ">
                Czy będę musiał dojeżdżać do biura?
            </p>
            <p>
                Nie. The Myriad DAO, przynajmniej w początkowym stadium, będzie skupiać wyłącznie traderów manualnych, tradujących zdalnie.
            </p>
        </div>
        <label for="expand8">
            Odpowiedź <i class="fa-solid fa-up-down"></i>
        </label>
    </div>
    <div class="m-3 text-left bottom-brd-coral">
        <input type="checkbox" id="expand9"/>
        <div class="smalldesc">
            <p class="font16 ">
                Czy dostanę pensję?
            </p>
            <p>
                Jako trader, będziesz wynagradzany na zasadzie podziału zysków pomiędzy Tobą, a DAO.
            </p>
        </div>
        <label for="expand9">
            Odpowiedź <i class="fa-solid fa-up-down"></i>
        </label>
    </div>
    <div class="m-3 text-left bottom-brd-coral">
        <input type="checkbox" id="expand10"/>
        <div class="smalldesc">
            <p class="font16 ">
                Jakim stylem będę tradować w organizacji?
            </p>
            <p>
                Nauczymy Cię tradować na interwałach intraday i będziesz uprawiać typowy daytrading. Jeśli chodzi o rynki, jest to dość proste, im dłużej trzymasz transakcję, tym bardziej jesteś narażony na czynniki fundamentalne, które wpływają na rynek i więcej losowości możesz oczekiwać od rynku. W naszym stylu szukamy aktywnego daytradingu niezależnie od koniunktury, która obecnie panuje na rynku.
            </p>
        </div>
        <label for="expand10">
            Odpowiedź <i class="fa-solid fa-up-down"></i>
        </label>
    </div>
    <div class="m-3 text-left bottom-brd-coral">
        <input type="checkbox" id="expand11"/>
        <div class="smalldesc">
            <p class="font16 ">
                Czy ryzykuję utratę własnych pieniędzy?
            </p>
            <p>
                Nie. Cały kapitał, który będziesz miał/ miała dostępny do handlu pochodzi od DAO i nie ryzykujesz żadnych środków własnych.
                <br>
                Kiedy zarabiasz, zarabiamy wspólnie, a jedyne środki jakie możesz stracić to te pochodzące od DAO. Nie przyjmujemy od traderów żadnych depozytów zabezpieczających. Podsumowując: DAO ma swój interes w tym byś był jak najlepszym traderem i obiecujemy dołożyć wszelkich starań aby tak się stało.
            </p>
        </div>
        <label for="expand11">
            Odpowiedź <i class="fa-solid fa-up-down"></i>
        </label>
    </div>
</div>