@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, deserunt eum fuga mollitia nihil odio sed veritatis? A amet at earum molestias nihil non possimus similique voluptates. A accusamus aliquid animi dolor dolorem ea eius impedit, inventore necessitatibus nesciunt possimus praesentium quasi qui quidem quo, ratione, reprehenderit similique? Alias ea excepturi exercitationem libero porro? A accusantium aliquid animi autem, commodi consequatur consequuntur cum delectus distinctio doloremque ea eligendi eos harum hic ipsum labore laudantium magni molestias nobis non omnis possimus ratione rerum saepe sed similique ut voluptatibus. Architecto distinctio omnis quis! Corporis cum dignissimos excepturi explicabo illum iure magnam, modi nisi perferendis quasi soluta, suscipit ullam. Accusantium commodi cupiditate deleniti dolor ea est expedita facere facilis ipsam iusto maiores molestias necessitatibus possimus, quis quo tempore voluptate!</p>
</div>