@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum fugit nesciunt! Consequuntur, dignissimos distinctio nihil numquam recusandae tempora temporibus totam? Natus, nesciunt voluptatibus. A, aperiam fugiat. Ab accusantium adipisci animi architecto commodi cum deleniti dolore dolores eum, fugit impedit, in iure, nam nemo optio placeat qui quisquam quod reiciendis repudiandae sint suscipit vel vero voluptas!</p>
</div>