/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.text-coral {
    color: #FC5B3F;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-weight: 600 !important;
    color: #f05742 !important;
}

/* Provide sufficient contrast against white background */
a {
    color: #f05742;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #FC5B3F !important;
    border-color: #f89988 !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid black !important;
}

.border-bottom {
    border-bottom: 1px solid black !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin size of a footer
    -------------------------------------------------- */
    margin-bottom: 60px;
    font-family: 'Space Mono', sans-serif;
}

body h1, h2, h3, h4 {
    font-family: 'Space Grotesk', serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.bg-image {
    background-image: linear-gradient(to right, #111010, #2E2E34)
}

.logo-img-m {
    max-height: 2rem;
    vertical-align: middle;
}

.bg-lint {
    background-color: #D7DFB8 !important;
}

.flex-container-btn {
    display: flex;
    justify-content: space-between;
}

.bg-black {
    background-color: black;
}

.space-keeper {
    color: #b4b4b4;
    min-height: 200px;
    max-width: 100%;
}

.images-dimmed img{
    filter: brightness(95%);
    opacity: 0.9;
}

.ind-graphics-bckg {
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 0;
    filter: blur(3px);
    opacity: 0.5;
}

.images-dao {
    max-width: 200px;
}

/*Q&A css set
--------------------------------------------------*/
.bottom-brd-coral {
    border-bottom: 1px solid rgba(255, 127, 80, 0.35);
}

label {
    color: #f05742;
    text-decoration: none;
    cursor: pointer;
}

label:hover {
    color: rgba(240, 87, 66, 0.75);
    text-decoration: none;
}

.bg-v-dark {
    background-color: black;
    opacity: 0.6;
}

/*expandables*/
#expand1 {
    display: none;
}

#expand1 + .smalldesc {
    max-height: 20px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand1:checked + .smalldesc {
    max-height: fit-content;
}

#expand2 {
    display: none;
}

#expand2 + .smalldesc {
    max-height: 20px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand2:checked + .smalldesc {
    max-height: 300px;
}

#expand3 {
    display: none;
}

#expand3 + .smalldesc {
    max-height: 20px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand3:checked + .smalldesc {
    max-height: 300px;
}

#expand4 {
    display: none;
}

#expand4 + .smalldesc {
    max-height: 20px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand4:checked + .smalldesc {
    max-height: 300px;
}

#expand5 {
    display: none;
}

#expand5 + .smalldesc {
    max-height: 20px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand5:checked + .smalldesc {
    max-height: 300px;
}

#expand6 {
    display: none;
}

#expand6 + .smalldesc {
    max-height: 20px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand6:checked + .smalldesc {
    max-height: 300px;
}

#expand7 {
    display: none;
}

#expand7 + .smalldesc {
    max-height: 20px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand7:checked + .smalldesc {
    max-height: 300px;
}

#expand8 {
    display: none;
}

#expand8 + .smalldesc {
    max-height: 20px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand8:checked + .smalldesc {
    max-height: 300px;
}

#expand9 {
    display: none;
}

#expand9 + .smalldesc {
    max-height: 20px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand9:checked + .smalldesc {
    max-height: 300px;
}

#expand10 {
    display: none;
}

#expand10 + .smalldesc {
    max-height: 20px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand10:checked + .smalldesc {
    max-height: 300px;
}

#expand11 {
    display: none;
}

#expand11 + .smalldesc {
    max-height: 20px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand11:checked + .smalldesc {
    max-height: 300px;
}

#expand12 {
    display: none;
}

#expand12 + .smalldesc {
    max-height: 20px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand12:checked + .smalldesc {
    max-height: 300px;
}